{% extends '_base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'recover Password' %}
{% endblock %}
{% block content %}
    <div class="w-75 mx-auto" style="margin:10rem auto; ">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-floating mb-3">
                <div class="form-group">

                    <label for="id_email">{{ form.email.label }}</label>
                    <input type="email" class="form-control" name="{{ form.email.html_name }}" id="id_email"
                           placeholder="{% trans 'Email Address here' %}" aria-describedby="emailHelp">
                    <small id="emailHelp"
                           class="form-text text-muted">{% trans "We'll never share your email with anyone else" %}.</small>

                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <ul>
                                <li class="text-danger">{{ error|escape }}</li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <input type="submit" value="{% trans 'Send verification email' %}" class="btn btn-success">
        </form>

    </div>
{% endblock %}