{% extends '_base.html'%}
{% load i18n %}
{% block title %}
{% trans 'Set New Password' %}
{% endblock %}
{% block content %}
    <div class="row" style="margin: 6rem auto;">

        {% if validlink %}

            <form method="post" novalidate class="mx-auto">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-floating mb-3">

                    <div class="form-group">

                    <label for="id_new_password1">{{ form.new_password1.label }}</label>
                    <input type="password" class="form-control" name="{{ form.new_password1.html_name }}" id="id_new_password1"
                           placeholder="{% trans 'Password Here' %}" >

                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <ul>
                                <li class="text-danger">{{ error|escape }}</li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                </div>
                    <div class="form-group">

                        <label for="id_new_password2">{{ form.new_password2.label }}</label>
                        <input type="password" class="form-control" name="{{ form.new_password2.html_name }}" id="id_new_password2"
                           placeholder="{% trans 'Confirm Password Here' %}" >

                        {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <ul>
                                <li class="text-danger">{{ error|escape }}</li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                    </div>

                </div>

                <input type="submit" value="{% trans 'Change Password' %}" class="btn btn-success">
            </form>

        {% else %}
                <p>{% trans 'this link is not valid , try again' %}</p>
        {% endif %}

    </div>

{% endblock %}