{% load i18n %}
<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">

    <div class="p-t-15">

        <!-- address select -->
        <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">

            <select class="js-select2" name="address" id="addresses">
                <option>{% trans 'Select an address' %} ...</option>
                {% if request.user.customer.addresses.all %}
                    {% for address in request.user.customer.addresses.all %}
                        <option value="{{ address.id }}">{{ address }}</option>
                    {% endfor %}
                {% endif %}



            </select>

            <div class="dropDownSelect2"></div>
        </div>

        <div>
            <span class="font-weight-bold rounded p-2">
                {% trans 'Add New Address' %}
            </span>
            <hr>
        </div>

        <div class="bor8 bg0 m-b-12">
            <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state"
                   placeholder="{% trans 'State' %}">
        </div>

        <div class="bor8 bg0 m-b-12">
            <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="city"
                   placeholder="{% trans 'City' %}">
        </div>

        <div class="bor8 bg0 m-b-22">
            <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode"
                   placeholder="{% trans 'Postcode / Zip' %}">
        </div>

        <div class="bor8 bg0 m-b-22">
            <textarea class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="address_detail"
                      placeholder="{% trans 'Address Detail' %}"></textarea>
        </div>

    </div>

</div>
