{% load static %}
{% load i18n %}
<script>
    const notice = new Notice();

    // remove cart item btn event
    $('.removeItem-btn').on('click', (e)=>{
             e.preventDefault();
            let elem = $(e.target)
            let itemId = elem.parent().attr('data-itemId')
            let productName = $('#productName').text()

            console.log(`trying to delete ${productName} with id ${itemId}`)

            // beautiful alert
            swal({
                  title: "Are you sure?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
            .then((willDelete) => {
                  if (willDelete) {
                    swal("done! item deleted!", {icon: "success",
                         timer: 1200,
                        buttons: false,
                    });
                    // on confirm delete item from cart
                    removeItemFromCart(elem)

                    } else {
                       swal("nice choice! item kept", {
                        icon: "success",
                         timer: 1200,
                         buttons: false,

                            });
                            }
                });
    });

    // send ajax request and delete from cart
    function removeItemFromCart(elem){

            let productId = elem.parent().attr('data-itemId')
            let countItemsIcon = +$('#cartIcon').attr('data-notify')
            let cartTotal = $('#cartTotal')
            let url = "{% url 'orders:delete_cart_item' 0 %}".replace('0', productId)

        // delete request for delete item from cart
        $.ajax({
                url: url,
                method: 'DELETE',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}',
                },
                success: function (data){
                    console.log(`on success delete request: ${data}`)

                    $('#cartBody').find(`[data-itemId="${data.item}"]`).remove();   // remove item from dynamic nav cart
                    elem.parents('tr').remove();        // remove item from main cart page
                    $('.cartIcon').attr('data-notify', countItemsIcon - 1);         // item count notification on nav bar
                    cartTotal.text(data.total_price)
                    $('.total_price').text(data.total_price)

                },
                error: function (e){
                    console.log(e)
                },
            });

    }

    // add item count of cart btn event
    $(document).ready(function(){
        $('.increaseItem,.decreaseItem').on('click', function (e){
            const notice = new Notice();
            e.preventDefault()
            // show loading
            notice.showLoading({
                title: 'Updating...',
                color: '#333',
                fontSize: 20,
                backgroundColor: 'rgba(255,255,255,.6)'
            });

            let itemId = $(this).attr('data-itemId')
            let cartTotal = $('#cartTotal')
            let productId = $(this).attr('data-productId')
            let currentValue = $(this).attr('class').includes("increaseItem") ?  $(this).prev("input.num-product") : $(this).next("input.num-product");
            let url = "{% url 'orders:update_cart_item' 0 %}".replace('0', itemId)
            let countProductInNavCart = $(`#cartBody > li#${productId}`).find('.count-product-cart')
            let productInventory = currentValue.attr('max')
            let itemTotalPrice = $('.itemTotalPrice')
            let productPrice = $('.productPrice')

            console.log('inventory: '+productInventory)
            if (Number(currentValue.val()) == Number(productInventory)) {
                $(this).hide()
                notice.showToast({
                            text: 'maximum count!',
                            type: 'warning'
                        });
            }else if (Number(currentValue.val()) < Number(productInventory)){
                currentValue.siblings(".increaseItem").html('<i class="fs-16 zmdi zmdi-plus"></i>')

                currentValue.siblings(".increaseItem").show()
            }
            console.log(`product Id is ${productId}`)
            console.log(`item Id is ${itemId}`)

            setTimeout(
              function()
              {
                // Patch request for partial update of cart item
                $.ajax({
                    url: url,
                    method: 'PATCH',
                    data: {
                        'item_id':itemId,
                        'count': currentValue.val(),
                    },
                    headers: {
                        "X-CSRFToken": '{{ csrf_token }}',
                    },
                    success: function (data){
                        console.log(`on success patch request: `, data.item)
                        notice.hideLoading()
                        countProductInNavCart.text(data.item.count)
                        let total = data.cart_total_price
                        cartTotal.text(total)
                        {#$('.total_price').text(data.cart_total_price)#}
                        $("#total_price").text(data.cart_total_price)
                        $("#final_price").text(data.cart_final_price)

                        itemTotalPrice.text(data.item.count * Number(productPrice.text()))

                    },
                    error: function (e){
                        notice.hideLoading()
                        notice.showToast({
                            text: JSON.parse(e.responseText).count[0],
                            type: 'error'
                        });
                        console.log(e)

                    },
                });

              }, 1100);
        });
    });

    // set off code on click event of apply
    $('#add_offcode').on('click', function (){
        let offcode = $('#offcode_txt')

        // check if off code input already set
        if (offcode.attr('disabled') == 'disabled'){

            $(this).text('Apply Off code')
            $(this).attr('title', '')
            $(this).addClass('hov-btn3')
            offcode.prop('disabled', false);
            offcode.focus()
            return 1
        }else {
                let finalPrice = $("#final_price")
                let url = "{% url 'orders:cart_checkout' %}"
                let applyOffcode = $('#add_offcode')

                // check for empty input
                if (offcode.val() == ''){
            Toastify({
                        text: "{% trans 'please enter your off code' %}!",
                        duration: 3000,
                        close: true,
                        stopOnFocus: true,
                    }).showToast();
            return 1
        }

                $.post(
                    url,
                    {
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "action": 'set_offcode',
                        "offcode": offcode.val(),
                    },
                    function (data){
                        console.log(data)

                        Toastify({
                                text: "{% trans 'Off code applied!' %}!",
                                duration: 3000,
                                close: true,
                                stopOnFocus: true,
                            }).showToast();

                        offcode.val(data.code)
                        offcode.attr('title', 'is valid until '+ data.valid_to)
                        offcode.attr('disabled', 'disabled')
                        applyOffcode.text(data.offcode)
                        applyOffcode.attr('title', 'click to change')
                        applyOffcode.removeClass('hov-btn3')

                        finalPrice.text(data.total_price)
                    },
                    ).fail(function(error) {
                console.log(error)
                Toastify({
                        text: "{% trans 'Invalid Off code' %}!",
                        duration: 3000,
                        close: true,
                        stopOnFocus: true,
                    style: {
                        background: "red",
                      }
                    }).showToast();
            })
        }
        })




</script>