{% load i18n %}
<div class="menu-desktop">
    <ul class="main-menu">
        <li>  <!-- consider class="active-menu" -->
            <a href="{% url 'product:landing' %}">{% trans 'Home' %}</a>
        </li>

        <li>

            <a href="{% url 'product:category_list' %}">{% trans 'Categories' %}</a>
            {% include 'inc/nav/layouts/categories_desk.html' %}
        </li>

        <li>
            <a href="{% url 'core:about' %}">{% trans 'About' %}</a>   <!-- consider this attribute > data-label1="hot" -->
        </li>

        <li>
            <a href="{% url 'core:contact_us' %}">{% trans 'Contact' %}</a>
        </li>

    </ul>
</div>
