{% load i18n %}
<div class="top-bar">
    <div class="content-topbar flex-sb-m h-full container">
        <div class="right-top-bar flex-w h-full">

            <!-- languages -->
            {% for lang in languages %}

                <a href="/{{ lang.code }}/" title="{{ lang.name_local }}" class="flex-c-m trans-04 p-lr-25">{{ lang.code }}</a>

            {% endfor %}

            <!-- Authentication -->
            {% if not request.user.is_authenticated %}
                <a href="{% url 'customers:customer_login' %}" class="flex-c-m trans-04 p-lr-25">{% trans 'Login' %}</a>

                <a href="{% url 'customers:customer_register' %}" class="flex-c-m trans-04 p-lr-25">{% trans 'Register' %}</a>
            {% else %}
                <a href="{% url 'customers:customer_logout' %}" class="flex-c-m trans-04 p-lr-25">{% trans 'Logout' %}</a>
            {% endif %}

        </div>
    </div>
</div>