{% extends '_base.html'%}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'About' %}
{% endblock %}
{% block content %}
    <!-- Title page -->
{#	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'core/images/about_page/about3.jpeg' %}');">#}
{#		<h2 class="ltext-105 cl0 txt-center">#}
{#			About#}
{#		</h2>#}
{#	</section>#}
	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148" id="ourStory">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16" id="ourStoryTitle"></h3>
                        <div id="ourStoryBody"></div>
                    </div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="" alt="IMG" id="ourStoryPic">
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="ourMission">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16"  id="ourMissionTitle"></h3>
                        <div id="ourMissionBody"></div>

						<div class="bor16 p-l-29 p-b-9 m-t-22" id="ourMissionQuotations"></div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img alt="IMG" id="ourMissionPic">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block extra_footer %}
    <script src="{% static 'core/js/about_us_page/main.js' %}"></script>
{% endblock %}