{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Contact Us' %}
{% endblock %}
{% block content %}
    {#    <!-- Title page -->#}
    {#	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">#}
    {#		<h2 class="ltext-105 cl0 txt-center">#}
    {#			Contact#}
    {#		</h2>#}
    {#	</section>#}


    <!-- Content page -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    <form method="post">
                        {% csrf_token %}
                    {% if messages %}
                        {% for msg in messages %}
                            {% if 'contact_us' in msg.tags %}
                                <div class="alert alert-{% if 'success' in msg.tags %}success{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
                                    {{ msg }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                        {{ form.non_field_errors }}
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            {% trans 'Send Us A Message' %}
                        </h4>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text"
                                   name="{{ form.email.html_name }}" placeholder="{% trans 'Your Email Address' %}">
                            <img class="how-pos4 pointer-none" src="{% static 'core/images/icons/icon-email.png' %}"
                                 alt="ICON">
                        </div>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <ul class="mb-2">
                                        <li class="text-danger">{{ error|escape }}</li>
                                    </ul>
                                {% endfor %}
                            {% endif %}

                        <div class="bor8 m-b-30">
                            <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25"
                                      name="{{ form.message.html_name }}"
                                      placeholder="{% trans 'How Can We Help?' %}"></textarea>
                        </div>
                        {% if form.message.errors %}
                            {% for error in form.message.errors %}
                                <ul>
                                    <li class="text-danger">{{ error|escape }}</li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                        <input type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer"
                                value="{% trans 'Submit' %}">
                    </form>
                </div>

                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								{% trans 'Address' %}
							</span>

                            <p class="stext-115 cl6 size-213 p-t-18">
                                Aiva Shop Center , Mashhad, Somewhere
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								{% trans 'Lets Talk' %}
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                +989224023292
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								{% trans 'Sale Support' %}
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                cybera.3s@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}