{% load i18n %}
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					{% trans 'Your Cart' %}
				</span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <!-- Cart body -->
        <div class="header-cart-content flex-w js-pscroll">
            <!-- Cart items -->
            <ul class="header-cart-wrapitem w-full" id="cartBody">
                {% for item in cart %}
                    {% include 'inc/nav/layouts/single_item_nav_cart.html' with item=item %}
                {% empty %}
                    <div id="emptyAlert">
                        <p class="alert alert-info">Cart is empty</p>
                    </div>
                {% endfor %}

            </ul>

            <!-- Cart Footer -->
            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    {% trans 'Total' %}: <span id="cartTotal">{{ cart.get_total_price }}</span>
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="{% url 'orders:cart_checkout' %}"
                       class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        {% trans 'View Cart' %}
                    </a>

                    {#						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">#}
                    {#							{% trans 'Check Out' %}#}
                    {#						</a>#}
                </div>
            </div>

        </div>
        <!-- ./Cart body -->

    </div>
</div>
