{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- breadcrumb -->
    {% include 'product/inc/detail/breadcrumb.html' %}

    <!-- Product Detail section -->
    <section class="sec-product-detail bg0 p-t-65 p-b-60">

        <div class="container">

            <div class="row">

                <!-- Pictures Section -->
                {% include 'product/inc/detail/picture_section.html' %}

                <!-- Detail of product -->
                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">

                        <!-- Product Name -->
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            {{ product.name }}
                        </h4>

                        <!-- Product real price -->
                        {% if product.final_worth != product.price %}
                            <div>
                                <del class="cl2 font-weight-light">${{ product.price }}</del>
                            </div>
                        {% endif %}

                        <!-- Product price with discounts -->
                        <span class="mtext-106 cl2">
							${{ product.final_worth }}
						</span>

                        <p class="stext-102 cl3 p-t-23">
                            {{ product.description }}
                        </p>

                    {% if product.is_available %}
                        <!-- Add to cart form -->
                        {% include 'product/inc/detail/add_to_cart.html' %}
                    {% else %}
                        <div class="alert alert-info">{% trans 'this item is not available in inventory' %}</div>
                    {% endif %}

                        <!-- social media -->
                        {% include 'product/inc/detail/social_media.html' %}

                    </div>
                </div>
            </div>

            <!-- tabs -->
            {% include 'product/inc/detail/tabs.html' %}


    </section>


    <!-- Related Products  -->
    {#    {% include 'product/inc/related_products.html' %}#}

{% endblock %}
{% block extra_footer %}
    {% include 'product/inc/product_js.html' %}
{% endblock %}