{% extends 'customers/base.html' %}
{% load i18n %}
{% block title %}
    {{ title }}
{% endblock %}
{% block extra_head %}
    <style>
        form {
            box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px, rgba(17, 17, 26, 0.1) 0 24px 80px;

        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid py-5">
        <div class="row">
            <form method="post" class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4 mx-auto p-3 rounded" novalidate>
                {{ form.non_field_errors }}

                <h1 class="fw-bold mb-2" style="font-family: 'SansSerif';color:blue;">{{ title }}</h1>
                <hr>
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.phone }}
                    {{ form.phone.label_tag }}
                </div>

                <div class="form-floating mb-3">
                    {{ form.email }}
                    {{ form.email.label_tag }}
                </div>

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <ul>
                            <li class="text-danger">{{ error|escape }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}


                {{ form.gender }}
                {% if form.gender.errors %}
                    {% for error in form.gender.errors %}
                        <ul>
                            <li class="text-danger">{{ error|escape }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.password }}
                    {{ form.password.label_tag }}
                </div>

                 {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <ul>
                            <li class="text-danger">{{ error|escape }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.confirm_password }}
                    {{ form.confirm_password.label_tag }}
                </div>

                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <ul>
                            <li class="text-danger">{{ error|escape }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}

                <input type="submit" value="{{ title }}" class="w-100 btn btn-primary p-2 mb-3 fw-bold">
                <h5 class="text-center">Or</h5>
                <h5 class="text-center">{% trans 'If you Already have an account' %}? <a href="#">{% trans 'Sign in here' %}</a></h5>
            </form>
        </div>
    </div>
{% endblock %}






