{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <style>
        #products > div {
            transition: ease 500ms;
            padding: 1rem;
        }

        #products > div:hover {

            box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
            border-radius: 10px;
        }

    </style>
{% endblock %}
{% block content %}

    <section class="bg0 p-t-23 p-b-140" style="padding-top: 6rem;">
        <div class="container">

            <!-- section title -->
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">
                    {% trans 'Products' %}
                </h3>
            </div>

            <!-- Search & Filter -->
            <div class="flex-w flex-sb-m p-b-52">

                <!-- filter By Brands -->
                {% include 'product/inc/filter_brand.html' %}
                <!-- Search & Filter buttons -->
                <div class="flex-w flex-c-m m-tb-10">
{#                    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">#}
{#                        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>#}
{#                        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>#}
{#                        {% trans 'Filter' %}#}
{#                    </div>#}

                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        {% trans 'Search' %}
                    </div>
                </div>

                <!-- Search product -->
                {% include 'product/inc/search_pro.html' %}

                <!-- Filter -->
{#                {% include 'product/inc/filter.html' %}#}

            </div>

            <!-- Product Section -->
            <div class="row isotope-grid products" id="products">

                {% for product in products %}
                    {% include 'product/inc/single_product.html' with product=product %}
                {% empty %}
                    <div class="alert alert-info w-50 mx-auto">{% trans 'There is no Items' %}!</div>
                {% endfor %}

            </div>

            <!-- Pagination section -->
            {% include 'product/landing/inc/pagination.html' %}

            {#  {% include 'product/inc/load_more.html' %}#}

        </div>
    </section>

    <!-- Modal1 -->
    {% include 'product/inc/quick_view_modal.html' %}
{% endblock %}

{% block extra_footer %}
    {% include 'product/inc/product_js.html' %}
{% endblock %}



