{% load i18n %}
<script>
    // get all Products
    function getAllProducts() {
        $.get(
        '{% url "product:product-list" %}',
        function (data){
            products(data)
            }
        )
    }

    // get all Brands
    function getAllBrands() {
        $.get(
        '{% url "product:brand-list" %}',
        function (data){
            brands(data)
            }
        )
    }

    // fill products section
    function products(data){
        let products = $('#products')

        let alertEmpty = '<div class="alert alert-info mx-auto w-50 font-weight-bold text-center">Sorry There is No Item! </div>'
        if (data.length == 0) {
            products.html(alertEmpty)
        }else{
            for (let i=0;i<=data.length;i++){
            let product = data[i]
            elem = `<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ${product.brand}" id="${product.id}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="${product.images[0]}" alt="${product.name}" width="200" height="300">

                        <button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" onclick="show_modal(${product.id})">
                            {% trans 'Quick View' %}
                        </button>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/product/${product.id}/${product.slug}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                ${product.name}
                            </a>

                            <span class="stext-105 cl3">
                                ${product.final_worth}$
                            </span>
                        </div>
                    </div>
                </div>
            </div>`
            products.append(elem)
        }
        }

    }

    // get products filtered by category
    function filterByCategory(category_id) {
        $.get(
        '{% url 'product:product-list' %}' + '?category='+ category_id,
        function (data){
            products(data)
        }
        )
    }

    // fill brands section
    function brands(data) {

        for (let i = 0; i <= data.length; i++) {
            let brand = data[i]
            elem = `<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter=".${brand.name}">
                    ${brand.name}
                </button>`

            $('#brands').append(elem)
        }
    }

    function show_modal(id){
        $('.js-show-modal1').on('click',function(e){
        e.preventDefault();
        $('.js-modal1').addClass('show-modal1');
            });

        $('.js-hide-modal1').on('click',function(){
            $('.js-modal1').removeClass('show-modal1');
        });
        getProduct(id)
    }

    // get one product
    function getProduct(productId){
        // AJAX for Products
        let url = '{% url "product:product-detail" 0 %}'.replace('0', productId);

        $.get(
        url,
        function (data){
                fillModal(data)
            }
        )
    }

    // fill modal
    function fillModal(data){
        let product = data
        let galleryElement = `<div class="item-slick3" data-thumb="${product.picture}">
            <div class="wrap-pic-w pos-relative">
                <img src="${product.picture}" alt="${product.name}" class="rounded">

                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="${product.picture}">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>`
        $('#modal-ProductPictures').html(galleryElement)

        $('#modal-nameProduct').text(product.name)

        // check product's discount available
        if (product.discount != null){
            $('#modal-Price').text(product.price)
        }else {
            $('#modal-Price').empty()
        }


        $('#modal-finalPrice').html(product.final_worth)
        $('#modal-description').html(product.description)

    }
</script>
