{% extends '_base.html' %}
{% load i18n %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
     <section class="bg0 p-t-23 p-b-140" style="padding-top: 6rem;">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					{{ title }}
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
                <!-- filter Brand section-->
				{% include 'product/inc/filter_brand.html' %}

{#				<div class="flex-w flex-c-m m-tb-10">#}
{#					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">#}
{#						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>#}
{#						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>#}
{#						 Filter#}
{#					</div>#}
{##}
{#					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">#}
{#						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>#}
{#						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>#}
{#						Search#}
{#					</div>#}
{#				</div>#}


			</div>

			<div class="row isotope-grid" id="products"></div>

		</div>
	</section>
    <!-- Modal1 -->
    {% include 'product/inc/quick_view_modal.html' %}
{% endblock %}
{% block extra_footer %}
    {% include 'product/inc/product_js.html' %}
    <script>
        filterByCategory({{ category_id }})
    </script>
{% endblock %}