{% load static %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'core/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/select2/select2.min.cs' %}s">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/_vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'core/css/toastify/toastify.css' %}" />

    <link rel="stylesheet" href="{% static 'core/css/notice.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}">
<!--===============================================================================================-->
{#<style>#}
{#    /*   google map */#}
{#.map-responsive{#}
{#    overflow:hidden;#}
{#    padding-bottom:80%;#}
{#    position:relative;#}
{#    height:0;#}
{#.map-responsive iframe{#}
{#    left:0;#}
{#    top:0;#}
{#    height:100%;#}
{#    width:100%;#}
{#    position:absolute;#}
{#</style>#}